<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
  <title>ユーザ情報</title>
  <meta charset="UTF-8" />
  <link th:substituteby="common :: com_header_links"/>
</head>
<body>
  <script th:substituteby="common :: com_scripts"></script>
  <script type="text/javascript" src="/js/user-info-list.js" th:src="@{/js/user-info-list.js}"></script>
  
  <h1>ユーザ情報一覧</h1>
  <div>
    <p>
      <input type="button" value="登録" onclick="location.href='userInfomaiton_register'" />
    </p>
  </div>
  <div>
    <table id="list"></table>
    <div id = "pager"></div>
  </div>
  <input type="hidden" id="listData" name="listData" th:value="${listData}" />
</body>
</html>